
.jumbotron{
    background-color: rgba(226, 6, 35, 0.76);
    color: whitesmoke;   
    margin-top:50px;   
}
.card-paw{    
    flex: 1 200px;
    
    margin-top: 10px;
    /*width: 100%;        
    padding: 2px 5px 2px 5px;
    align-content: space-between;*/
}

.btn-Abajo{
    /*
    margin-bottom: 10px;     
    */
    background-color: rgba(73, 74, 75, 0.836); 
    color: white; 
    width: 100%;
    border-radius: 10px;
}

.footer
{
    padding: 10px 10px 0 10px ;
    background-color: rgba(226, 6, 35, 0.76);
    margin-bottom: 0px;
    margin-top: 10px; 	
    color: whitesmoke;
}
.footer-info-icon
{
    padding-right: 10px;
}